<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","attr":{"id":"main-content"},"style":{"spacing":{"padding":{"top":"100px","bottom":"4rem"}}},"layout":{"type":"default"}} -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem","right":"1.5rem","left":"1.5rem"}}},"layout":{"type":"constrained","contentSize":"768px"}} -->

<!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"900","lineHeight":"1.08"},"spacing":{"margin":{"bottom":"2rem"}}},"textColor":"white","fontSize":"x-large"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- /wp:group -->

<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
