<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","style":{"spacing":{"padding":{"bottom":"4rem"}}}} -->
<main id="main-content" class="wp-block-group" style="padding-bottom:4rem">

<!-- wp:group {"style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem","right":"1.5rem","left":"1.5rem"}}}} -->
<div class="wp-block-group" style="padding-top:4rem;padding-right:1.5rem;padding-bottom:4rem;padding-left:1.5rem;max-width:768px;margin-left:auto;margin-right:auto">

<!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"900","lineHeight":"1.08"},"spacing":{"margin":{"bottom":"2rem"}}},"textColor":"white","fontSize":"x-large"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</div>
<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
